<form class="conteiner-form" [formGroup]="formulario">
  <div class="col">
    <span> Numero de Identificacion: </span> <input type="number" placeholder="# de Identificacion" class="form-control" formControlName="numeroIdentificacion">
  </div>
<br>
    <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nombres" formControlName="nombres">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Apellidos" formControlName="apellidos" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <label class="mr-sm-2" for="inlineFormCustomSelect"> <span> Genero: </span> </label>
            <select class="custom-select mr-sm-2  form-control" id="inlineFormCustomSelect" formControlName="genero">
              <option selected> Seleccion...</option>
              <option value="1">Masculo</option>
              <option value="2">Femenino</option>
              <option value="3">Otro</option>
            </select>
        </div>
        <div class="col">
            <span> Numero Celular: </span> <input type="number" placeholder="Numero Celular" class="form-control" formControlName="numeroCelular">
        </div>
    </div>
    <hr>
    <div class="mb-2">
        <label for="exampleFormControlTextarea1" class="form-label">Diagnostico</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="diagnostico"></textarea>
    </div>
    <button (click)="enviarDatos()">Guardar</button>
</form>
