<footer class="footer-conteiner">
    <section>
        <img class="new-home-v4-footer-logo" src="../assets/img/logo.svg" alt="Logo Fit">
    </section>
    <section>
        <h2>Siguenos</h2>
        <ul class="footer-social">
            <li><a href="https://www.facebook.com/"> <img src="../assets/img/facebook.png" ></a></li>
            <li><a href=""><img src="../assets/img/instagram.png" ></a></li>
            <li><a href=""><img src="../assets/img/telegram.png" ></a></li>
            <li><a href=""><img src="../assets/img/facebook.png" ></a></li>
        </ul>
    </section>
    <section>
        <span>El precio de la mensualidad no incluye inscripción ni anualidad. Sujeto a cambios sin previo aviso.
            Opción para Planes mediante pagos mensuales con cargo a su tarjeta de crédito o débito. El precio mínimo puede variar entre las sedes.
            No aceptamos cheques.</span>
    </section>
</footer>