.conteiner-production{
    height: 350px;
    margin: 15px;
    border-radius: 33px;
}

span{
    font-weight: bold;
}
.conteiner-promotions-production{
    height: 1077px;
    top: 608px;
    left: 59px;
    margin: 15px;
    border-radius: 45px;
   

}