<div class="col-aut p-4 text-center">
    <h2>
        <span>Suplementos</span> 
    </h2> 
    <section >
        <div class="conteiner-production">
            <app-componet-producto-carousel></app-componet-producto-carousel>
        </div>
    </section>
    <h2>Nuestros Productos  <span>Para Ti</span></h2>
    <section>
        <div class="conteiner-promotions-production">
            <app-componet-producto-conteiner-productio></app-componet-producto-conteiner-productio>
        </div>
    </section>
</div>