<div class="slider-box">
    <ul>
        <li>
            <img src="../assets/img/tecnica.jpg" alt="">
            <div class="conteiner-text">
                <!-- <h2>Imagen 1</h2>
                <p> aaaaaaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaa.
                    123123123123 122223asddaaasd dasdasdasd adasd dasdaa, adasdad
                </p> -->
            </div>
        </li>

        <li>
            <img src="../assets/img/caruselSede1.jpg" alt="">
            <div class="conteiner-text">
                <!-- <h2>Imagen 2</h2>
                <p> aaaaaaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaa.
                    123123123123 122223asddaaasd dasdasdasd adasd dasdaa, adasdad
                </p> -->
            </div>
        </li>
    </ul>
</div>