<div class="contteiner-mision">
  <h2>Mision</h2>
  <hr>
  <span>
    Formar un especialista en Ortopedia y Traumatología, integral de óptima calidad, 
    con conocimientos y actitudes que le permitan ejercer la especialidad en nuestro medio con profesionalismo y ética,
    demostrando un alto nivel científico, administrativo e investigativo, para beneficio de los pacientes con alteraciones en el sistema músculo esquelético. 
  </span>
</div>

<div class="contteiner-vision">
 <h2>Vision</h2>
 <hr>
 <span>
  Mantener el progreso y desarrollo de la especialidad, utilizando las nuevas tecnologías con criterio racional,
  evaluando en forma permanente nuestros resultados y complicaciones, aceptando las modificaciones necesarias, 
  buscando siempre la seguridad y beneficio de nuestros pacientes. 
 </span>
</div>